* {
    padding: 0;
    margin: 0;
    color: #0066CC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content {
    margin: 150 auto;
    width: 320px;
    height: 55px;
    background-color: #131719;
}
#question-name {
    margin-left: 10px;
}
#name-enter {
    background-color: #1e2427;
    border: 3px solid #1e2427;
    margin-left: 5px;
    margin-top: 5px;
}
#greeting {
    display: inline-block;
    margin-left: 80px;
}